[submodule "modules/mif"]
	path = modules/mif
	url = https://github.com/ICMC-IDE/mif
	branch = main
[submodule "modules/icmc-emulator"]
	path = modules/icmc-emulator
	url = https://github.com/ICMC-IDE/icmc-emulator
	branch = main
[submodule "modules/assembler"]
	path = modules/assembler
	url = https://github.com/ICMC-IDE/assembler
	branch = main
[submodule "modules/icmc-cc"]
	path = modules/icmc-cc
	url = https://github.com/ICMC-IDE/icmc-cc
	branch = main
[submodule "public/modules/zip.js"]
	path = public/modules/zip.js
	url = https://github.com/gildas-lormeau/zip.js
	branch = master
